<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <!-- Main header   -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/1622016258596.png" alt="Rounak" class="img-fluid" title="Rounak sharma">
                        </figure>
  
                      </div>
                      <!-- Right side div -->
  
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a  <span class="text_clr">MEAN and MERN</span> Stack developer</h1>
                        <a href="https://github.com/rounak2005" target="_rounak"><button>About me</button></a>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
   {{>footer}}
</body>

</html>